.container{
    border: 2px solid red;
    display: flex;
    height:500px;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: space-evenly;*/
    /* align-items: first baseline; */
    flex-wrap: wrap;
    align-content:center;


}
.item{
    border: 2px solid green;
    height: 100px;
    width:100px;
    margin: 8px;
}
/* flex direction= row
justify content=main axis-hori
align-item= cross-vertica */
/* flex dire=column 
justify content=cross axis
align item=main axis */