.container{
    border: 2px solid red;
    height: 90vh;
    width:90vw;
}

.box{
    border: 2px solid green;
    height: 100px;
    width: 100px;
    /* transform: translateX(200px); */
}
.box:hover{
    /* transform: translateY(200px); */
    /* transform: scaleX(2.5); */
    /* transform: rotate(-50deg); */
    /* transform: skewX(50deg); */
    transform-origin: 200px;
    background-color: aqua;
}