h1{
    color: red;
   background-color: antiquewhite;
   border: 5px dashed black;
}
*{
    background-color: black;
    color: white;
}
.heading1{
    color: green;
    background-color: antiquewhite;
    border: 5px dashed black;
}
#heading2{
    color: red;
    background-color: antiquewhite;
    border: 2px dashed black;
    
}
h1,.heading1,#heading2{
    font-size: 30px;
    
}
div p{
    color: red;
    background-color: antiquewhite;
    border: 2px dashed black;
}
div>p{
    color: red;
    background-color: antiquewhite;
    border: 2px dashed black;
}